
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans:wght@100&family=PT+Sans&family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@300;500;700&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Fira Sans', sans-serif;
     font-weight: 700;
 }

 input[type="range"] {
     -webkit-appearance: none;
     height: 3px;
     width: 40%;
     background: #ddd;
     border-radius:  5px;
     outline: none;
     border: none;

}
 input::-webkit-slider-thumb {
     -webkit-appearance: none;
    
     height: 10px;
     width: 10px;
     background: #757575;
     border-radius: 50%;
     border: 1px solid #18171f;
     cursor: pointer;

 
}

body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background:#9db9bf;
     padding: 10px;
}

.wrapper {
    width:  780px;
    border-radius:20px;
    padding: 35px 40px;
    background: #141414;
}

.piano-keys  {
     display: flex;
     margin-top: 40px;
     
}

.piano-keys .key {
     list-style: none;
     color: #a2a2a2;
     text-transform: uppercase;
     cursor: pointer;
     position: relative;
     
     
}

.piano-keys .white {

     width:  70px;
     height: 230px;
     border-radius: 8px;
     background: linear-gradient(#fff,#eee);
     border:  1px solid #000;
     color: black;
     

}
.piano-keys  .key.hide span {
     display: none;

}

.piano-keys .black {
     z-index: 2;
     width:  44px;
     height: 140px;
     border-radius:0 0 5px 5px;
     margin:0 -22px 0 -22px;
     background: linear-gradient(#333,#000);
}

.piano-keys .black.active {
     box-shadow:inset -5px 5px 20px rgba(255,250, 255, 0.1);
     background: linear-gradient(to bottom, #000 0%, #434343 100%);

}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;

}
.piano-keys .white.active {
     box-shadow:inset -5px 5px 20px rgba(0,0, 0, 0.2);
     background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

header .column span {
     font-weight: 500;
     font-size: 1.19rem;
     margin-right: 15px;
}

header h2 {
     font-size: 1.6rem;
}

.volume-slider input {
     accent-color: #fff;
}



header .column {
     display: flex;
     align-items: center;
}

.wrapper header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    
     justify-content: space-between;
 }


 .keys-checkbox input[type="checkbox"] {
     width: 60px;
     height: 30px;
     appearance:  none;
     -webkit-appearance: none;
     cursor: pointer;
     border-radius: 30px;
     position: relative;
     -moz-appearance: none;
 
     background:  #4b4b4b;
 }

 .keys-checkbox input::before {
     content: "";
     height: 20px;
     width: 20px;
     top: 50%;
     left: 5px;
     border-radius:inherit;
     background: #8c8c8c;
     position: absolute;
     transform: translateY(-50%);

}

.keys-checkbox input:checked::before {
 
     left:  35px;
     background: #f2f2f2;
}
